@using ToDoList.Models
@model List<Category>

@{
    Layout = "_Layout";
}

<h2>Categories</h2>
<p>@Html.ActionLink("Go back to home page", "Index", "Home")</p>
<p>@Html.ActionLink("Add new category", "Create")</p>

@foreach (var category in Model)
{
    <li>
        @Html.ActionLink(
            $"{category.Name}",
            "Details",
            "Categories",
            new {id = category.CategoryId}
            )
    </li>
}